/* ここから下に記載していく */

html{
    font-size: 100%;
}



body{
    color: #222222;
    font-size: 1rem;
}

img{
    width: auto;
    height: auto;    
}

.text-center{
    text-align: center;
}

.eng-title-y{
    font-size: 24px;
    text-align: center;
    color: #ffd61f;
    font-weight: bold;
}

.eng-title-b{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.jpn-title{
    font-size: 18px;
    text-align: center;
    margin: 30px 0 0 0;
}

.wrapper{
    width: 1200px;
    margin: auto;
}

/* Header */

.wrapper__header{
    font-size: 21px;
    text-align: center;
}

.nav__list{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.nav__item>a{
    margin: 50px 50px 50px 50px;
}


/* Title */

.site-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    top: 224px;
    left: 28%;
    margin: auto;
}

.sub-title {
    font-size: 36px;
    text-align: center;
    color: white;
    position: absolute;
    top: 302px;
    left: 23%;
    margin-right: auto;
    margin-left: auto;
    
}

.title-wrapper{
    width: 1200px;
    height: 400px;
    margin: auto;
}

.title-wrapper img{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

/* About */
.about__section{
    padding: 60px 0 0;
}

.about__wrapper{
    width: 1200px;
    margin: auto;
}


.about__1{
    line-height: 2;
    margin: 60px 0 0 0;
}

.about__2{
    line-height: 2;
    margin: 40px 0 0 0;
}

.about__3{
    line-height: 2;
    margin: 40px 0 80px 0;
}

.about__pics{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about__pics img{
    width: 25%;
}

/* Course */

.course__section{
    padding: 60px 0 0 0;
}

.course__wrapper{
    width: 1200px;
    margin: auto;
}

.course__1{
    line-height: 2;
    margin: 30px 0 60px 0;
    text-align: center;   
}

.courseBox {
    /* border: 10px solid red; */
    margin: 0 auto;
    width: 1200px;
    display: flex;
  }
  .courseBox.hanten {
    flex-direction: row-reverse;
  }
  
  .imgBlock {
    width: 50%;
  }
  
  .imgBlock img {
    width: 100%;
  }
  
  .textBox {
    width: 50%;
    padding: 90px 200px 0 50px;
    box-sizing: border-box;
  }
  .textBox__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .courseBox.hanten .textBox {
    padding: 90px 50px 0 200px;
  }
  
  .textBox__text {
    font-size: 18px;
    line-height: 1.5;
  }

/* News */

.news__section{
    padding: 60px 0 60px 0;
}

.news__wrapper{
    width: 1200px;
    margin: auto;
}

.news__margin{
    margin: 60px 0 60px 0;
}

.news__list{
    display: flex;
    justify-content: space-between;
    margin: 60px 15px 60px 15px;
}

.news__picmargin{
    width: 300px;
}

.news__eyecatch{
    margin: 0 30px 30px 0;
}

.news__1{
    background-color: #ffd61f;
    color: white;
    font-size: 18px;
    margin: auto;
    padding: 30px 0 30px 0;
    width: 300px;
    text-align: center;
    left: 33%;
}

.news__1:hover{
    background-color: orange;
    color: white;
    font-size: 18px;
    margin: auto;
    padding: 30px 0 30px 0;
    width: 300px;
    text-align: center;
    left: 33%;
}

.news__2{
    margin: 0 0 24px 0;
}

.news__3{
    line-height: 2;
}

/* Access */

.access__section{
    padding: 60px 0 60px 0;
    background-color: #fafaff;
    width: 1200px;
    margin: auto;
}

.access__wrapper{
    width: 1200px;
    margin: auto;
}

.map__margin{
    margin: 60px 0 60px 0;
}

.access__table{
    margin: auto;
}

.access__vertical{
    padding: 0 0 30px 0;
}

.access__horizontal{
    margin: 0 15px 0 0;
}

.infoBox {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    align-items: center;
  }
  .infoBox__title {
    width: 30%;
  }
  
  .infoBox__text {
    width: 70%;
    line-height: 1.6;
  }

/* Contact */

.contact__section{
    padding: 60px 0 140px 0;
}

.contact__wrapper{
    width: 1200px;
    margin: auto;
}

.contact__1{
    line-height: 2;
    margin: 60px 0 0 0;
}

.contact__2{
    line-height: 2;
    margin: 30px 0 70px 0;
}

.form__wrapper{
    width: 640px;
    margin: auto;
}

.form__inner{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    margin: 0 0 30px 0;
}

.form__title{
    width: 159px;
    border-top:1px solid;
    border-right:1px solid;
    border-color: #bfbfbf;
    padding: 8px 64px 8px 16px;
    line-height: 1.5;
}

.form__item{
    width: 328px;
    border-top:1px solid;
    border-color: #bfbfbf;
    padding: 8px 64px 8px 8px;
}

.form__parts1{
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #bfbfbf;
    font-size: 16px;
    width: 100%;
}

.input[type*="checkbox"]{
    margin: 12px 0 12px 0;
}

.form__btn{
    background-color: #ffd61f;
    color: white;
    font-size: 18px;
    margin: auto;
    padding: 30px 0 30px 0;
    width: 300px;
    text-align: center;
    left: 50%;
    display: flex;
    justify-content: center;
    border-color: #ffd61f;
}

.form__btn:hover{
    background-color: orange;
    color: white;
    font-size: 18px;
    margin: auto;
    padding: 30px 0 30px 0;
    width: 300px;
    text-align: center;
    left: 50%;
    display: flex;
    justify-content: center;
}

/* Footer */

.footer__section{
    background-color: #707077;
    width: 1200px;
    margin: auto;
    padding: 30px 0 30px 0;
}

.footer__1{
    color: white;
    text-align: center;
}

.checkbox__vertical{
    display: block;
    margin: 0 0 24px 0;
}